<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Chargemasters</title>

<link rel="stylesheet" href="/public/core.css"></link>
<link rel="stylesheet" href="/public/detail.css"></link>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="/public/treena.js"></script>
<script src="/public/pricing.js"></script>
<script src="/public/sprintf.js"></script>
</head>

<script src="/data/hospital_info.js"></script>
<body>
</body>
</html>

