<!doctype html>
<html>
  <head>
    <title>Chargemasters</title>
  </head>

  <body>
    <h1>
      <a href="/">Home</a> &gt;
      Detail for DRG <%= drg %>
    </h1>
    <p>foo bar</p>
  </body>
</html>

