<!doctype html>
<html>
  <head>
    <title>Chargemasters</title>
    <link rel="stylesheet" href="/public/core.css"></link>
    <script src="/public/core_head.js"></script>
  </head>

  <body class="section" style="width: 360px;">

    <div class="row" style="background:url(/public/home-topimage.png); width:360px; height:213px;">
      <p class="strong" style="padding:60px 0 0 10px">What does your hospital charge?</p>
      <form action="javascript:void(0)" method="POST" class="search">
        <input type="text" name="city" value="San Francisco, CA" class="query" style="width:260px;margin-left:5px" />
        <a class="button search" href="#" name="set">
          <label>Ok</label>
        </a>
      </form>
    </div>
    
    <div data-accordion style="display:none">
      <% for (var i = 0; i < data.length; i++) { %>
      <% var mrg = data[i]; %>
      <div class="section" style="">
        <div class="section_header" style="padding:5px 5px 25px 5px; background:#eee4d4">
          <!--<div class="accordion_title_right">Title Left</div>-->
          <div class="accordion_title_left"><%= mrg.name %></div>
        </div>
        <div class="section_body" style="padding:10px;">
          <% for (var j = 0; j < mrg.DRGs.length; j++) { %>
            <% var drg = mrg.DRGs[j]; %>
            <h3>
              <a rel="detail" href="/detail#code=<%= drg.code %>"
                style="color:#12778e"><%= drg.name %></a></h3>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>

    <script src="/public/core.js"></script>
    <script>
      $(function() {
        $("[data-accordion]").show();
        $("a[rel=detail]").click(function() {
          var href = $(this).attr("href");
          var cityst = $("form input[name=city]").val().trim();
          if (cityst == "" || cityst.indexOf(",") < 0) return false;
          cityst = cityst.split(',');
          var city = cityst[0].trim();
          var state = cityst[1].trim();
          href += "&city=" + encodeURIComponent(city);
          href += "&state=" + encodeURIComponent(state);
          window.location.href = href;
          return false;
        });

      });
    </script>
  </body>
</html>

