<!doctype html>
<html>
  <head>
    <title>Chargemasters</title>
    <link rel="stylesheet" href="/public/core.css"></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script type="text/template" id="data">
      <%- data %>
    </script>
  </head>

  <body>
    <h1>What does your hospital charge?</h1>
    
    <form action="/detail" method="GET">
      <input type="text" size="60" name="q" />
      <input type="submit" value="Search" />
    </form>

    <script>
      $(function() {
        var data = $("script#data").html();
        data = $.parseJSON(data);
        console.log("Data", data);
      });
    </script>
  </body>
</html>

