<!doctype html>
<html>
  <head>
    <title>Chargemasters</title>
  </head>

  <body>
    <h1>What does your hospital charge?</h1>
    
    <form action="/detail" method="GET">
      <input type="text" size="60" name="q" />
    </form>

  </body>
</html>

