<!doctype html>
<html>
  <head>
    <title>Chargemasters</title>
    <link rel="stylesheet" href="/public/core.css"></link>
    <script src="/public/core_head.js"></script>
  </head>

  <body class="section span12">

    <div class="row">
      <h1 style="float:left">What does your hospital charge?</h1>
      <img src="/public/logo.png" style="float:right" />
    </div>
    
    <div class="section">
      <form action="javascript:void(0)" method="POST" class="search">
        <input type="text" size="60" name="city" value="San Francisco, CA" class="query" />
        <a class="button search" href="#" name="set">
          <label>Set Location</label>
        </a>
      </form>
    </div>

    <p><a href="/public/costs.html">How to help lower your costs</a></p>

    <div data-accordion>
      <% for (var i = 0; i < data.length; i++) { %>
      <% var mrg = data[i]; %>
      <div class="section">
        <div class="section_header current" style="padding:15px 15px 30px 15px;">
          <!--<div class="accordion_title_right">Title Left</div>-->
          <div class="accordion_title_left"><%= mrg.name %></div>
        </div>
        <div class="section_body">
          <% for (var j = 0; j < mrg.DRGs.length; j++) { %>
            <% var drg = mrg.DRGs[j]; %>
            <h3>
              <a rel="detail" href="/detail?code=<%= drg.code %>"><%= drg.name %></a></h3>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>

    <script src="/public/core.js"></script>
    <script>
      $(function() {

        $("a[rel=detail]").click(function() {
          var href = $(this).attr("href");
          var city = $("form input[name=city]").val();
          href += "&city=" + encodeURIComponent(city);
          window.location.href = href;
          return false;
        });

      });
    </script>
  </body>
</html>

