.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img,

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

textarea {
  overflow: auto;
  vertical-align: top; }

@media print {
  * {
    text-shadow: none !important;
    color: black !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.row {
  margin-left: -30px;
  *zoom: 1; }

.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0; }

.row:after {
  clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 930px; }

.span12 {
  width: 930px;
  float: none; }

.span11 {
  width: 850px; }

.span10 {
  width: 770px; }

.span9 {
  width: 690px; }

.span8 {
  width: 610px; }

.span7 {
  width: 530px; }

.span6 {
  width: 450px; }

.span5 {
  width: 370px; }

.span4 {
  width: 290px; }

.span3 {
  width: 210px; }

.span2 {
  width: 130px; }

.span1 {
  width: 50px; }

.offset12 {
  margin-left: 990px; }

.offset11 {
  margin-left: 910px; }

.offset10 {
  margin-left: 830px; }

.offset9 {
  margin-left: 750px; }

.offset8 {
  margin-left: 670px; }

.offset7 {
  margin-left: 590px; }

.offset6 {
  margin-left: 510px; }

.offset5 {
  margin-left: 430px; }

.offset4 {
  margin-left: 350px; }

.offset3 {
  margin-left: 270px; }

.offset2 {
  margin-left: 190px; }

.offset1 {
  margin-left: 110px; }

.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

.row-fluid:after {
  clear: both; }

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 3.22581%;
  *margin-left: 3.17204%; }

.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 3.22581%; }

.row-fluid .span12 {
  width: 100%;
  *width: 99.94624%; }

.row-fluid .span11 {
  width: 91.39785%;
  *width: 91.34409%; }

.row-fluid .span10 {
  width: 82.7957%;
  *width: 82.74194%; }

.row-fluid .span9 {
  width: 74.19355%;
  *width: 74.13978%; }

.row-fluid .span8 {
  width: 65.5914%;
  *width: 65.53763%; }

.row-fluid .span7 {
  width: 56.98925%;
  *width: 56.93548%; }

.row-fluid .span6 {
  width: 48.3871%;
  *width: 48.33333%; }

.row-fluid .span5 {
  width: 39.78495%;
  *width: 39.73118%; }

.row-fluid .span4 {
  width: 31.1828%;
  *width: 31.12903%; }

.row-fluid .span3 {
  width: 22.58065%;
  *width: 22.52688%; }

.row-fluid .span2 {
  width: 13.97849%;
  *width: 13.92473%; }

.row-fluid .span1 {
  width: 5.37634%;
  *width: 5.32258%; }

.row-fluid .offset12 {
  margin-left: 106.45161%;
  *margin-left: 106.34409%; }

.row-fluid .offset12:first-child {
  margin-left: 103.22581%;
  *margin-left: 103.11828%; }

.row-fluid .offset11 {
  margin-left: 97.84946%;
  *margin-left: 97.74194%; }

.row-fluid .offset11:first-child {
  margin-left: 94.62366%;
  *margin-left: 94.51613%; }

.row-fluid .offset10 {
  margin-left: 89.24731%;
  *margin-left: 89.13978%; }

.row-fluid .offset10:first-child {
  margin-left: 86.02151%;
  *margin-left: 85.91398%; }

.row-fluid .offset9 {
  margin-left: 80.64516%;
  *margin-left: 80.53763%; }

.row-fluid .offset9:first-child {
  margin-left: 77.41935%;
  *margin-left: 77.31183%; }

.row-fluid .offset8 {
  margin-left: 72.04301%;
  *margin-left: 71.93548%; }

.row-fluid .offset8:first-child {
  margin-left: 68.8172%;
  *margin-left: 68.70968%; }

.row-fluid .offset7 {
  margin-left: 63.44086%;
  *margin-left: 63.33333%; }

.row-fluid .offset7:first-child {
  margin-left: 60.21505%;
  *margin-left: 60.10753%; }

.row-fluid .offset6 {
  margin-left: 54.83871%;
  *margin-left: 54.73118%; }

.row-fluid .offset6:first-child {
  margin-left: 51.6129%;
  *margin-left: 51.50538%; }

.row-fluid .offset5 {
  margin-left: 46.23656%;
  *margin-left: 46.12903%; }

.row-fluid .offset5:first-child {
  margin-left: 43.01075%;
  *margin-left: 42.90323%; }

.row-fluid .offset4 {
  margin-left: 37.63441%;
  *margin-left: 37.52688%; }

.row-fluid .offset4:first-child {
  margin-left: 34.4086%;
  *margin-left: 34.30108%; }

.row-fluid .offset3 {
  margin-left: 29.03226%;
  *margin-left: 28.92473%; }

.row-fluid .offset3:first-child {
  margin-left: 25.80645%;
  *margin-left: 25.69892%; }

.row-fluid .offset2 {
  margin-left: 20.43011%;
  *margin-left: 20.32258%; }

.row-fluid .offset2:first-child {
  margin-left: 17.2043%;
  *margin-left: 17.09677%; }

.row-fluid .offset1 {
  margin-left: 11.82796%;
  *margin-left: 11.72043%; }

.row-fluid .offset1:first-child {
  margin-left: 8.60215%;
  *margin-left: 8.49462%; }

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none; }

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "Helvetica Neue Regular", "Helvetica Neue", Arial, Helvetica, Verdana, "Arial Unicode MS", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 20px; }

small, small a, p.small, p.small a, td.small, td.small a, .small, .small a {
  font-size: 12px;
  line-height: 16px; }

strong, .strong {
  font-weight: 300; }

.weak {
  color: #666666;
  font-weight: 300; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  color: #333333;
  padding: 0;
  min-height: 1px;
  margin-left: 0;
  font-weight: 200; }
  h1.with_lead, h2.with_lead, h3.with_lead, h4.with_lead, .h1.with_lead, .h2.with_lead, .h3.with_lead, .h4.with_lead {
    margin-top: 2px;
    margin-bottom: 2px; }

h1, .h1 {
  margin-top: 10px;
  margin-bottom: 10px; }
  h1, h1 strong, .h1, .h1 strong {
    font-size: 26px;
    line-height: 30px; }

h2, .h2 {
  margin-top: 10px;
  margin-bottom: 8px; }
  h2, h2 strong, .h2, .h2 strong {
    font-size: 20px;
    line-height: 24px; }

h3, .h3 {
  margin-top: 10px;
  margin-bottom: 3px; }
  h3, h3 strong, .h3, .h3 strong {
    font-size: 18px;
    line-height: 22px; }

h4, .h4 {
  margin-top: 5px;
  margin-bottom: 0px; }
  h4, h4 strong, .h4, .h4 strong {
    font-size: 16px;
    line-height: 19px; }

a, a:visited {
  color: #0065aa;
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }
    a:hover.icon_link, a:hover img, a:hover i, a:visited:hover.icon_link, a:visited:hover img, a:visited:hover i {
      text-decoration: none !important; }

em {
  font-style: italic;
  line-height: inherit; }

strong, .strong, strong a, .strong a {
  font-weight: bold;
  line-height: inherit; }

.light_text {
  color: #666666; }

p.prelead {
  margin-bottom: 0px; }
p.lead {
  margin-top: 0px; }

.disclaimer {
  margin-top: 10px;
  padding: 4px; }
  .disclaimer, .disclaimer * {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    background-color: white; }
  .disclaimer a, .disclaimer a:visited {
    color: #0065aa; }

.pointer {
  cursor: pointer; }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url(PIE.htc);
  position: relative;
  z-index: 0;
  border: 0;
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  background: #ef0000;
  padding: 0px 20px;
  margin-right: 20px;
  width: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  white-space: nowrap; }
  .button, .button:visited, .button a, .button a:visited, .button label, button, button:visited, button a, button a:visited, button label, input[type="button"], input[type="button"]:visited, input[type="button"] a, input[type="button"] a:visited, input[type="button"] label, input[type="reset"], input[type="reset"]:visited, input[type="reset"] a, input[type="reset"] a:visited, input[type="reset"] label, input[type="submit"], input[type="submit"]:visited, input[type="submit"] a, input[type="submit"] a:visited, input[type="submit"] label {
    color: white; }
  .button.submit, button.submit, input[type="button"].submit, input[type="reset"].submit, input[type="submit"].submit {
    padding: 0 20px; }
  .button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #ff3b31;
    text-decoration: none; }
  .button.small, .button.tertiary, button.small, button.tertiary, input[type="button"].small, input[type="button"].tertiary, input[type="reset"].small, input[type="reset"].tertiary, input[type="submit"].small, input[type="submit"].tertiary {
    height: 26px;
    line-height: 26px;
    padding: 0px 15px;
    font-size: 13px; }
  .button.secondary, button.secondary, input[type="button"].secondary, input[type="reset"].secondary, input[type="submit"].secondary {
    height: 26px;
    line-height: 26px;
    padding: 0px 15px;
    font-size: 13px;
    background: #407e94;
    color: white; }
    .button.secondary:hover, button.secondary:hover, input[type="button"].secondary:hover, input[type="reset"].secondary:hover, input[type="submit"].secondary:hover {
      background: #649fb3; }
    .button.secondary a, button.secondary a, input[type="button"].secondary a, input[type="reset"].secondary a, input[type="submit"].secondary a {
      color: white; }
      .button.secondary a:hover, button.secondary a:hover, input[type="button"].secondary a:hover, input[type="reset"].secondary a:hover, input[type="submit"].secondary a:hover {
        text-decoration: none; }
    .button.secondary.bookmark_links, button.secondary.bookmark_links, input[type="button"].secondary.bookmark_links, input[type="reset"].secondary.bookmark_links, input[type="submit"].secondary.bookmark_links {
      background: #e3ebee;
      border: 1px solid #d0dee2; }
      .button.secondary.bookmark_links:hover, button.secondary.bookmark_links:hover, input[type="button"].secondary.bookmark_links:hover, input[type="reset"].secondary.bookmark_links:hover, input[type="submit"].secondary.bookmark_links:hover {
        background-color: #e2f4f7; }
      .button.secondary.bookmark_links span, button.secondary.bookmark_links span, input[type="button"].secondary.bookmark_links span, input[type="reset"].secondary.bookmark_links span, input[type="submit"].secondary.bookmark_links span {
        color: #666666; }
      .button.secondary.bookmark_links #bookmark_image, button.secondary.bookmark_links #bookmark_image, input[type="button"].secondary.bookmark_links #bookmark_image, input[type="reset"].secondary.bookmark_links #bookmark_image, input[type="submit"].secondary.bookmark_links #bookmark_image {
        float: left;
        padding-top: 2px; }
        .button.secondary.bookmark_links #bookmark_image a, button.secondary.bookmark_links #bookmark_image a, input[type="button"].secondary.bookmark_links #bookmark_image a, input[type="reset"].secondary.bookmark_links #bookmark_image a, input[type="submit"].secondary.bookmark_links #bookmark_image a {
          margin-left: 2px;
          margin-right: 2px;
          padding-right: 4px; }
      .button.secondary.bookmark_links #bookmark_link, button.secondary.bookmark_links #bookmark_link, input[type="button"].secondary.bookmark_links #bookmark_link, input[type="reset"].secondary.bookmark_links #bookmark_link, input[type="submit"].secondary.bookmark_links #bookmark_link {
        float: left; }
        .button.secondary.bookmark_links #bookmark_link a, button.secondary.bookmark_links #bookmark_link a, input[type="button"].secondary.bookmark_links #bookmark_link a, input[type="reset"].secondary.bookmark_links #bookmark_link a, input[type="submit"].secondary.bookmark_links #bookmark_link a {
          color: #666666; }
  .button.tertiary, button.tertiary, input[type="button"].tertiary, input[type="reset"].tertiary, input[type="submit"].tertiary {
    background: #e3ebee;
    border: 1px solid #d0dee2; }
    .button.tertiary:hover, button.tertiary:hover, input[type="button"].tertiary:hover, input[type="reset"].tertiary:hover, input[type="submit"].tertiary:hover {
      background: #a4c2c3; }
  .button[disabled], .button[readonly], .button[disabled]:hover, .button[readonly]:hover, .button.disabled, .button.disabled:hover, button[disabled], button[readonly], button[disabled]:hover, button[readonly]:hover, button.disabled, button.disabled:hover, input[type="button"][disabled], input[type="button"][readonly], input[type="button"][disabled]:hover, input[type="button"][readonly]:hover, input[type="button"].disabled, input[type="button"].disabled:hover, input[type="reset"][disabled], input[type="reset"][readonly], input[type="reset"][disabled]:hover, input[type="reset"][readonly]:hover, input[type="reset"].disabled, input[type="reset"].disabled:hover, input[type="submit"][disabled], input[type="submit"][readonly], input[type="submit"][disabled]:hover, input[type="submit"][readonly]:hover, input[type="submit"].disabled, input[type="submit"].disabled:hover {
    background: #e3ebee;
    color: #666666;
    cursor: not-allowed; }
  .button img, .button i, button img, button i, input[type="button"] img, input[type="button"] i, input[type="reset"] img, input[type="reset"] i, input[type="submit"] img, input[type="submit"] i {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  .button label, button label, input[type="button"] label, input[type="reset"] label, input[type="submit"] label {
    display: inline-block;
    *zoom: 1;
    *display: inline; }

ul {
  list-style: none;
  margin-left: 0;
  padding: 0; }
  ul.disc {
    list-style: disc outside none;
    margin-left: 20px; }
    ul.disc li {
      margin-bottom: 10px; }
    ul.disc.compact {
      margin-bottom: 2px; }
      ul.disc.compact li {
        margin-bottom: 2px; }
  ul.circle {
    list-style: circle outside none;
    margin-left: 20px; }
    ul.circle li {
      margin-bottom: 10px; }
    ul.circle.compact {
      margin-bottom: 10px; }
      ul.circle.compact li {
        margin-bottom: 2px; }
  ul.inline {
    display: inline;
    list-style-type: none;
    margin-left: 0; }
    ul.inline li {
      display: inline; }
      ul.inline li .spacer {
        padding: 0 8px; }
    ul.inline.panels li.panel {
      display: block;
      float: left; }
  ul.nav_links {
    margin: 0;
    list-style-type: none;
    white-space: nowrap; }
    ul.nav_links li {
      float: left;
      padding: 0 8px;
      border-right: 1px solid #666666; }
      ul.nav_links li:first-child {
        padding-left: 0; }
      ul.nav_links li.last_child {
        border-right: 0; }
      ul.nav_links li, ul.nav_links li a, ul.nav_links li img {
        vertical-align: absmiddle; }
      ul.nav_links li a.highlight {
        color: #ff3b31; }
      ul.nav_links li img {
        float: left;
        padding: 0 4px 0 0; }
  ul.tabbed {
    list-style-type: none; }
    ul.tabbed li {
      -moz-border-radius: 3px 3px 0px 0px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      border-radius: 3px 3px 0px 0px;
      behavior: url(PIE.htc);
      display: inline-block;
      *zoom: 1;
      *display: inline;
      height: 37px;
      min-width: 80px;
      white-space: nowrap;
      margin-right: 3px;
      background: #407e94;
      padding: 0 10px;
      font-size: 15px;
      line-height: 15px; }
      ul.tabbed li a {
        color: white;
        padding-top: 8px;
        display: block;
        text-align: center;
        text-decoration: none; }
        ul.tabbed li a:hover {
          text-decoration: none; }
      ul.tabbed li:hover {
        background: #649fb3;
        color: white;
        text-decoration: none; }
      ul.tabbed li.active {
        background: #e3ebee;
        -webkit-box-shadow: 0 -2px 5px rgba(179, 179, 179, 0.25);
        -moz-box-shadow: 0 -2px 5px rgba(179, 179, 179, 0.25);
        box-shadow: 0 -2px 5px rgba(179, 179, 179, 0.25);
        behavior: url(PIE.htc); }
        ul.tabbed li.active a {
          color: #333333; }

ol {
  padding: 0;
  margin: 0 0 9px 25px;
  list-style: decimal; }
  ol.steps {
    list-style-type: none;
    margin-left: 0; }
    ol.steps li {
      padding-left: 28px;
      margin: 12px 0;
      min-height: 19px; }
      ol.steps li h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        top: -2px;
        margin-left: 0;
        margin-top: 0; }
      ol.steps li p {
        font-size: 13px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

li {
  line-height: 18px; }

dl {
  margin-bottom: 18px; }

dt, dd {
  line-height: 18px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 9px; }

ul.listings {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.listings li {
    zoom: 1;
    display: block;
    padding: 10px 5px;
    margin: 0; }
    ul.listings li:before, ul.listings li:after {
      display: block;
      content: ".";
      height: 0;
      visibility: hidden; }
    ul.listings li:after {
      clear: both; }
    ul.listings li:hover {
      background-color: #e2f4f7; }
    ul.listings li.with_separator {
      border-bottom: 1px dashed #b3b3b3; }
    ul.listings li .annotation {
      float: left;
      width: 30px;
      text-align: center; }
    ul.listings li .content {
      margin: 0;
      padding: 0;
      vertical-align: top; }
      ul.listings li .content ul li {
        border: 0;
        padding: 0; }
      ul.listings li .content.left {
        float: left;
        width: 65%; }
        ul.listings li .content.left ul li {
          margin: 0;
          text-align: left; }
      ul.listings li .content.right {
        float: right;
        width: 35%;
        padding-right: 5px; }
        ul.listings li .content.right ul li {
          text-align: right;
          margin: 5px 0; }
    ul.listings li .gutter {
      padding: 10px;
      position: relative;
      top: -10px;
      text-align: center;
      height: 100%; }
      ul.listings li .gutter.right {
        float: right;
        margin-left: 5px; }
      ul.listings li .gutter.left {
        float: left;
        margin-right: 5px; }
    ul.listings li.message {
      padding: 30px 0; }
      ul.listings li.message .annotation .new_message {
        color: #a4c2c3;
        font-size: 24px; }
      ul.listings li.message .content.left {
        width: 180px; }
      ul.listings li.message .content.right {
        width: 630px;
        float: none;
        display: inline-block;
        *zoom: 1;
        *display: inline; }
        ul.listings li.message .content.right.compact {
          width: 300px; }
        ul.listings li.message .content.right ul li {
          text-align: left;
          margin: 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

textarea {
  resize: none; }

label {
  display: block; }
  label input, label textarea, label select {
    display: block; }

input, textarea, select {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  behavior: url(PIE.htc);
  border: 1px solid #cccccc;
  position: relative;
  z-index: 0;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-bottom: 9px;
  padding: 5px;
  width: 210px; }
  input.no_margin, textarea.no_margin, select.no_margin {
    margin: 0; }

input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  border: 0;
  cursor: pointer;
  border-radius: 0; }

select {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
  width: 220px;
  background-color: white; }
  select[multiple], select[size] {
    height: auto; }

.flexible_select {
  width: auto;
  max-width: 100%; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

.placeholder {
  color: #bbbbbb; }

input[type="checkbox"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  behavior: url(PIE.htc);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  behavior: url(PIE.htc);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.help_block {
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999; }

.help_inline, .help_inline_absolute {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px; }

.help_inline_absolute {
  margin-left: 5px;
  position: absolute;
  line-height: 1.6;
  color: #999999; }

.clickable:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.print_only, .print_only_inline, .print_only_inline_block {
  display: none !important; }

.clearfix, .clear {
  zoom: 1;
  display: block; }
  .clearfix:before, .clearfix:after, .clear:before, .clear:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden; }
  .clearfix:after, .clear:after {
    clear: both; }

.inline_block {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.right_align {
  text-align: right; }

.left_align {
  text-align: left; }

.center_align {
  text-align: center; }

.top_align {
  vertical-align: top; }

.middle_align {
  vertical-align: middle; }

.bottom_align {
  vertical-align: bottom; }

.scrollable {
  overflow: auto; }

a.icon_link {
  padding-left: 5px; }

.no_indent {
  margin-left: 0 !important; }

.spacer {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0; }
  .spacer, .spacer.horizontal {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
    .spacer.small, .spacer.horizontal.small {
      padding: 0 0 0 15px;
      *padding-left: 15px; }
    .spacer.medium, .spacer.horizontal.medium {
      padding: 0 0 0 30px;
      *padding-left: 30px; }
    .spacer.large, .spacer.horizontal.large {
      padding: 0 0 0 45px;
      *padding-left: 45px; }
  .spacer.vertical {
    zoom: 1;
    display: block; }
    .spacer.vertical:before, .spacer.vertical:after {
      display: block;
      content: ".";
      height: 0;
      visibility: hidden; }
    .spacer.vertical:after {
      clear: both; }
    .spacer.vertical.small {
      padding: 15px 0 0 0;
      *padding-top: 15px; }
    .spacer.vertical.medium {
      padding: 30px 0 0 0;
      *padding-top: 30px; }
    .spacer.vertical.large {
      padding: 45px 0 0 0;
      *padding-top: 45px; }

.row {
  margin-left: 0;
  zoom: 1;
  display: block; }
  .row:before, .row:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden; }
  .row:after {
    clear: both; }
  .row.popout {
    background: #e3ebee;
    position: relative;
    z-index: 2;
    left: -7px;
    width: 990px;
    padding: 15px 7px;
    -webkit-box-shadow: -2px -2px 3px #cccccc, 2px 2px 3px #cccccc;
    -moz-box-shadow: -2px -2px 3px #cccccc, 2px 2px 3px #cccccc;
    box-shadow: -2px -2px 3px #cccccc, 2px 2px 3px #cccccc;
    behavior: url(PIE.htc); }

.panel.overlay {
  background: white;
  position: absolute;
  z-index: 3;
  top: -25px;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-shadow: -2px -2px 3px #cccccc, inset -2px -2px 0px #cccccc;
  -moz-box-shadow: -2px -2px 3px #cccccc, inset -2px -2px 0px #cccccc;
  box-shadow: -2px -2px 3px #cccccc, inset -2px -2px 0px #cccccc;
  behavior: url(PIE.htc); }

.section {
  margin-top: 20px;
  zoom: 1;
  display: block; }
  .section:before, .section:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden; }
  .section:after {
    clear: both; }

.subsection {
  margin-bottom: 15px;
  zoom: 1;
  display: block; }
  .subsection:before, .subsection:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden; }
  .subsection:after {
    clear: both; }

.intro, .snapshot {
  padding: 30px 30px;
  background: #f3f7f8;
  -webkit-box-shadow: inset 0 -2px 2px -2px #cccccc;
  -moz-box-shadow: inset 0 -2px 2px -2px #cccccc;
  box-shadow: inset 0 -2px 2px -2px #cccccc;
  behavior: url(PIE.htc);
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-radius: 4px 4px 0px 0px;
  behavior: url(PIE.htc); }
  .intro h1, .intro h2, .intro h3, .intro h4, .intro .h1, .intro .h2, .intro .h3, .intro .h4, .snapshot h1, .snapshot h2, .snapshot h3, .snapshot h4, .snapshot .h1, .snapshot .h2, .snapshot .h3, .snapshot .h4 {
    margin: 0; }

.panel {
  display: table;
  margin-top: 15px;
  padding: 0 15px 15px 15px; }
  .panel.extra_top_padding {
    padding-top: 15px; }
  .panel i, .panel .icon {
    vertical-align: top;
    margin-right: 7px;
    display: block;
    float: left; }
  .panel .header, .panel .header a {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #333333; }
  .panel .text {
    vertical-align: top;
    text-align: left;
    display: block;
    float: left;
    width: 50%; }
  .panel table {
    width: 100%; }
  .panel.left_border {
    border-left: 1px dashed #b3b3b3; }
  .panel.right_border {
    border-right: 1px dashed #b3b3b3; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-up {
  margin-top: -45px; }

hr {
  border: 0;
  height: 10px;
  padding: 0;
  width: 100%;
  max-width: 930px;
  margin: 30px 30px 20px 30px;
  background: url(/images/separator_pattern_blue.png) repeat; }
  hr.secondary {
    background: none;
    height: 0;
    border-top: 1px solid #b3b3b3;
    margin: 15px 30px; }
  hr.tertiary {
    background: none;
    height: 0;
    border-top: 1px dashed #b3b3b3;
    margin: 15px 30px; }
  hr.no_margin {
    margin: 0; }
  hr.small_margin {
    margin-top: 8px;
    margin-bottom: 8px; }

.page_background_color {
  background: #e2f0f5; }

.light_orange {
  background: #f7e3d1; }

.dark_orange {
  background: #e8ab75; }

.bright_orange {
  background: #f9a326; }

.hover_red {
  background: #ff3b31; }

.magenta {
  background: #fc544d; }

.button_red {
  background: #ef0000; }

.brown {
  background: #d1bea8; }

.ultra_light_green {
  background: #f5f6ee; }

.light_green {
  background: #ecf0dd; }

.dark_green {
  background: #b9c59c; }

.pop_green {
  background: #dfe22a; }

.grass_green {
  background: #acdb45; }

.go_green {
  background: #72a943; }

.brown_red {
  background: #cc8f71; }

.ultra_light_blue {
  background: #f3f7f8; }

.selected_blue {
  background: #e2f4f7; }

.light_blue {
  background: #e3ebee; }

.dark_blue {
  background: #a4c2c3; }

.hover_blue {
  background: #649fb3; }

.secondary_blue {
  background: #407e94; }

.link_blue {
  background: #0065aa; }

.white {
  background: white; }

.ultra_light_gray {
  background: #cccccc; }

.line_gray {
  background: #b3b3b3; }

.gray {
  background: #666666; }

.dark_gray {
  background: #333333; }

table {
  border-collapse: collapse; }
  table.with_left_margin_only {
    margin: 0 0 0 12px; }
  table.with_margin_bottom {
    margin-bottom: 24px; }
  table[class*="span"] {
    margin-left: 0; }
  table th {
    font-weight: normal; }
  table th, table td {
    text-align: left;
    vertical-align: top; }
    table th.nowrap, table td.nowrap {
      white-space: nowrap; }
    table th.shrink_fit, table td.shrink_fit {
      white-space: nowrap !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 1px !important;
      vertical-align: middle !important; }
  table.full {
    width: 100%; }

/* Specificity matters for creating a striped column effect */
/*   since we are overriding the initial cell background colors. */
/* Call this class before the table class you want to apply it to */
table.column_striping {
  font-size: 12px; }
  table.column_striping tr:hover {
    border: 1px solid #eeeeee; }
  table.column_striping tr:hover td.even {
    border: 1px solid #eeeeee; }
  table.column_striping th {
    border: 1px solid #eeeeee;
    background: white; }
  table.column_striping td {
    border: 1px solid #eeeeee; }
  table.column_striping td.even, table.column_striping th.even {
    background: #cccccc; }
  table.column_striping td.odd, table.column_striping th.odd {
    background: none; }

table.compact th, table.compact td {
  padding: 5px 10px;
  line-height: 1.2; }

table.more_compact th, table.more_compact td {
  padding: 3px 10px 3px 0px;
  line-height: 1.2; }

table.compact th, table.compact td {
  padding: 5px 10px;
  line-height: 1.2; }

table.no_indent th, table.no_indent td {
  padding-left: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=30); }

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 450px;
  margin-left: -225px;
  background-color: white;
  outline: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url(PIE.htc);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  behavior: url(PIE.htc);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding: 30px;
  overflow-y: auto;
  max-height: 500px; }

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eeeeee; }
  .modal-header .close {
    margin-top: 2px; }
  .modal-header h3, .modal-header .h3 {
    margin: 0;
    line-height: 30px; }

.cl_accordion .section {
  margin-top: 10px; }
  .cl_accordion .section .section_header {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    behavior: url(PIE.htc);
    background: #e3ebee;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 12px 0;
    margin: 0;
    position: relative; }
    .cl_accordion .section .section_header h4 {
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      *zoom: 1;
      *display: inline;
      font-weight: bold;
      font-size: 16px;
      margin-top: 0;
      color: #666666; }
    .cl_accordion .section .section_header .icon.accordion {
      margin: 0 0 0 20px;
      background-position: -350px -450px;
      display: inline-block;
      *zoom: 1;
      *display: inline;
      vertical-align: top; }
    .cl_accordion .section .section_header:hover {
      color: #333333;
      background: #e2f4f7; }
      .cl_accordion .section .section_header:hover .icon.accordion {
        background-position: -300px -450px; }
      .cl_accordion .section .section_header:hover h4, .cl_accordion .section .section_header:hover {
        color: #333333; }
    .cl_accordion .section .section_header .accordion_title_right {
      float: right;
      text-align: right;
      margin-right: 20px;
      vertical-align: middle; }
    .cl_accordion .section .section_header .accordion_title_left {
      float: left; }
    .cl_accordion .section .section_header .accordion_placeholder {
      position: absolute;
      width: 100%;
      height: 30px;
      text-align: center;
      top: 35px;
      margin: 0;
      background: transparent; }
      .cl_accordion .section .section_header .accordion_placeholder img {
        margin: 0;
        padding: 0;
        background: transparent; }
    .cl_accordion .section .section_header .accordion_title_image {
      vertical-align: middle;
      display: inline-block;
      *zoom: 1;
      *display: inline;
      margin: 0 10px; }
    .cl_accordion .section .section_header.current {
      color: #333333;
      background: #d0dee2;
      -moz-border-radius: 3px 3px 0 0;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      border-radius: 3px 3px 0 0;
      behavior: url(PIE.htc); }
      .cl_accordion .section .section_header.current h4, .cl_accordion .section .section_header.current {
        color: #333333; }
      .cl_accordion .section .section_header.current .icon.accordion.open {
        margin: 5px 5px 0 15px;
        background-position: -350px -400px;
        height: 10px; }
      .cl_accordion .section .section_header.current:hover {
        color: #333333;
        background: #d0dee2; }
        .cl_accordion .section .section_header.current:hover h4, .cl_accordion .section {
          color: #333333; }
        .cl_accordion .section .section_header.current:hover .icon.accordion.open {
          background-position: -300px -400px;
          height: 10px; }
  .cl_accordion .section .section_body {
    padding: 20px;
    min-width: 90%;
    min-height: 40px;
    border: 1px solid #d0dee2; }
  .cl_accordion .section .visible {
    display: block; }

.alert {
  position: relative;
  padding: 20px;
  margin: 0 0 20px;
  background-color: #f7e3d1;
  border: 0;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  behavior: url(PIE.htc);
  color: #333333; }
  .alert.icon {
    padding-left: 50px; }
  .alert.warning {
    padding-left: 50px; }
    .alert.warning .icon.warning_note {
      position: absolute;
      left: 13px;
      top: 24px; }
    .alert.warning h4 {
      font-weight: 500;
      margin-top: 0; }
    .alert.warning ul {
      margin: 5px 20px; }
    .alert.warning li {
      list-style-type: disc; }
    .alert.warning p {
      margin: 0 0 5px; }
  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px; }
  .alert .alert_heading {
    font-weight: bold; }
  .alert .alert_block {
    padding-top: 14px;
    padding-bottom: 14px; }
    .alert .alert_block p, .alert .alert_block ul {
      margin-bottom: 0; }
    .alert .alert_block p + p {
      margin-top: 5px; }

/* hack day 09 */
.row {
    width: 99%;
    height: 160px;
    background: url(/public/home-topimage.png);
}

.strong {
    padding: 10px 0px 0px 10px;
    text-align: center;
}

fieldset select:first-of-type {
    margin: 0px 5px 0px 10px;
}

fieldset select:last-of-type {
    width: 60px; margin: 0px 5px;
}

.cl_accordion {
    margin: 0px 10px;
    animation:fly-in-from-left .8s .4s ease both;
    transform-origin:top left;
}

.cl_accordion:nth-of-type(odd) {
    animation-name:fly-in-from-right;
    animation-delay:0.5s;
    transform-origin:top right;
}

.seciont_header {
    padding: 5px 5px 25px;
    background: rgb(238, 228, 212);
}

.section_body {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.section_body h3 a {
    color: rgb(18, 119, 142);
}

fieldset {
    text-align: center;
}

.section {
    padding:0.5rem;
    box-shadow:0 1px 2px #aaa;
    background:white;
    width: 97%;
    margin:1rem 1rem 1rem 1rem;
    border-radius:3px;
    user-select:none;
}

@keyframes fly-in-from-left {
    from {
        transform:translateY(15rem) rotate(15deg);
        opacity:0;
    }
}

@keyframes fly-in-from-right {
    from {
        transform:translateY(15rem) rotate(-15deg);
        opacity:0;
    }
}

.section:after {
    position:absolute;
    font-size:.9rem;
    top:1.5rem;
    right:1rem;
    content:"i";
    border:thin solid gray;
    color:gray;
    width:1rem;
    line-height:1rem;
    text-align:center;
    border-radius:50%;
    pointer-events:none;
}

.panel-body {
  border: 0px !important;
  padding: 0px;
}
